.custome_project_container{
    background-color: rgb(33, 43, 24);
    color: rgb(255, 255, 255);
}

.card-text-colour{
    color: black !important;

}

.button-colour{
    background-color: #6e9b5d;
}